<form action="" method="get" class="form">
    {% csrf_token %}
        
    {{ form.as_p }}
    <input type="submit" class="order" value="Cчитать">
</form>


{% for bank in obj_bank%}
    <h3>{{ bank.name_banks }}    |    от {{ bank.rate_min }}%    |    до {{ bank.payment_max }}руб   |    до {{ bank.term_max }} лет</h3>
    <h5><a href="/edit_bank/{{ bank.id }}">Редактировать </a> | <a href="/delete_bank/{{ bank.id }}"> Удалить</a></h5>
{% endfor %}

{% for bank in bank_offer %}
    <h3>{{ bank.0 }}   |   {{ bank.1 }}%   |   ежем. платеж  {{ bank.2 }}руб</h3>
{% endfor %}

<h3><a href="/create_bank">Создать новое предложение</a></h3>
